$primary-blue:#1271DE;
$secondary-blue:#2196F3;
$dark-blue:#1F62AF;
$primary-black:#1F1A17;

$google:#f5cc00;
$barclays: #00313c;
$bharat-petroleum: #002084;
$deal-jeans: #434343;
$tuscan-verve: #871419;
$anmol: #bd8f26;
$gemfield: #005140;
$toi: #c94a7c;
$talvalkar:#d9261c;
$golden-chariot: #bfa161;