.carousel{
    overflow: hidden;
    .slick-slider{
        .slick-arrow{
            &.slick-prev{
                left: 20px;
                &::before{
                    color: #707070;
                    font-size: 32px;
                }
            }
            &.slick-next{
                right: 30px;
                &::before{
                    color: #707070;
                    font-size: 32px;
                }
            }
    }
}
    &__slider{
        &__slide{
            width: 100%;
        }
    }
}