.carousel{
    overflow: hidden;
    .slick-slider{
        .slick-arrow{
            &.slick-prev{
                left: 20px;
                &::before{
                    content: url('../../../images/icons/back-arrow.svg');
                    font-size: 32px;
                }
            }
            &.slick-next{
                right: 30px;
                &::before{
                    content: url('../../../images/icons/front-arrow.svg');
                    font-size: 32px;
                }
            }
    }
    .slick-slide{
        div{
            height: inherit;
            .carousel__slider{
                height: inherit;
            }
        }
    }
}
    &__slider{
        &__slide{
            width: 100%;
            margin-top: -2px;
            margin-left: -1px;
        }
    }
    &__overlay{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        height: inherit;
        top: -7px;
        @extend .container;
        position: absolute;
        color: white;
        &.google-slide{
            color: #383330;
            .carousel__overlay__title{
                @include xxl{
                    max-width: 430px;
                }
            }
            .carousel__overlay__description{
                max-width: 290px;
            }
        }
        &.barclays-slide{
            color: white;
        }
        &.bharat-petroleum-slide{
            background-color: #00196485;
            color: white;
        }
        &__title{
            font-size: $title-font;
            font-weight: 500;
            margin-bottom: 14px;
            line-height: 20px;
            margin-top: 40px;
            @include msm{
                margin-top: 45px;
            }
            @include mmd{
                font-size: $large-font;
                line-height: 30px;
            }
            @include xl{
                font-size: $xlarge-font;
                margin-bottom: 20px;
                line-height: 40px;

            }
            @include xxl{
                max-width: 450px;
                font-weight: 500;
                margin-bottom: 30px;
                font-size: $xxlarge-font;
                line-height: 50px;
            }
        }
        &__description{
            max-width: 455px;
            font-weight: 300;
            margin-bottom: 60px;
            font-size: $small-font;
            line-height: 16px;
            @include mmd{
                font-size: $default-font;
                line-height: 20px;
            }
        }
        &__client{
            font-weight: 400;
        }
    }
}