.carousel{
    overflow: hidden;
    margin-bottom: -7px;
    .slick-slider{
        .slick-arrow{
            &.slick-prev{
                left: 20px;
                &::before{
                    content: url('../../../images/icons/back-arrow.svg');
                    font-size: 20px;
                    @include msm{
                        font-size: 32px;
                    }
                }
            }
            &.slick-next{
                right: 30px;
                &::before{
                    content: url('../../../images/icons/front-arrow.svg');
                    font-size: 20px;
                    @include msm{
                        font-size: 32px;
                    }
                }
            }
    }
    .slick-slide{
        div{
            height: inherit;
            .carousel__slider{
                height: inherit;
            }
        }
    }
}
    &__slider{
        &__slide{
            width: 100%;
            margin-top: -2px;
            margin-left: -1px;
        }
    }
    &__overlay{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: inherit;
        top: -7px;
        @extend .container;
        position: relative;
        width: 100%;
        text-align: center;
        background-color: red;;
        @include msm{
            position: absolute;
            background-color: unset;
            width: 50%;
            text-align: unset;
        }
        color: white;
        &.google-slide{
            color: white;
            background-color: $google;
            @include msm{
                color: #383330;
                background-color: transparent;
            }
            .carousel__overlay__title{
                @include xxl{
                    max-width: 430px;
                }
            }
            .carousel__overlay__description{
                max-width: 290px;
                margin: auto;
                @include msm{
                    margin: unset;
                }
            }
        }
        &.barclays-slide{
            color: white;
            background-color: $barclays;
            @include msm{
                background-color: transparent;
            }
        }
        &.bharat-petroleum-slide{
            background-color: $bharat-petroleum;
            @include msm{
                background-color: transparent;
            }
        }
        &.deal-jeans-slide{
            background-color: $deal-jeans;
            @include msm{
                background-color: transparent;
            }
        }
        &.tuscan-verve-slide{
            background-color: $tuscan-verve;
            @include msm{
                background-color: transparent;
            }
        }
        &.anmol-slide{
            background-color: $anmol;
            @include msm{
                background-color: transparent;
            }
        }
        &.gemfield-slide{
            background-color: $gemfield;
            @include msm{
                background-color: transparent;
            }
        }
        &.talvalkar-slide{
            background-color: $talvalkar;
            @include msm{
                background-color: transparent;
            }
        }
        &.toi-slide{
            background-color: $toi;
            @include msm{
                background-color: transparent;
            }
        }
        &.golden-chariot-slide{
            background-color: $golden-chariot;
            @include msm{
                background-color: transparent;
            }
        }
        &__title{
            font-size: $title-font;
            font-weight: 500;
            margin-bottom: 14px;
            line-height: 20px;
            margin-top: 40px;
            @include msm{
                margin-top: 45px;
            }
            @include mmd{
                font-size: $large-font;
                line-height: 30px;
            }
            @include xl{
                font-size: $xlarge-font;
                margin-bottom: 20px;
                line-height: 40px;

            }
            @include xxl{
                max-width: 450px;
                font-weight: 500;
                margin-bottom: 30px;
                font-size: $xxlarge-font;
                line-height: 50px;
            }
        }
        &__description{
            max-width: 455px;
            font-weight: 300;
            margin-bottom: 60px;
            font-size: $small-font;
            line-height: 16px;
            @include mmd{
                font-size: $default-font;
                line-height: 20px;
            }
        }
        &__client{
            font-weight: 400;
        }
    }
}